
<div class="container custom-container">
    <div class="row mt-5">
      <div class="col-md-8 offset-md-2">
        <h1 class="text-center, title">Sistema de gestión de usuarios</h1>
        <p class="text-center">Aplicación para la gestión de usuarios con operaciones CRUD</p>
      </div>

  
    <div class="row mt-5">
      <div class="col-md-6">
        <div class="card custom-card">
          <div class="card-body">
            <h5 class="card-title">Backend</h5>
            <p class="card-text">Spring Boot: Un framework de desarrollo de aplicaciones basadas en Spring.</p>
            <p class="card-text">Hibernate: Un framework de mapeo objeto-relacional (ORM) </p>
            <p class="card-text">Spring Data JPA: Una parte de Spring Data que proporciona soporte para el acceso a datos basado en JPA</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card custom-card">
          <div class="card-body">
            <h5 class="card-title">Frontend</h5>
            <p class="card-text">Angular: Un framework de desarrollo de aplicaciones web desarrollado y mantenido por Google que se utiliza para crear aplicaciones de frontend escalables y de una sola página (SPA).</p>
          </div>
        </div>
      </div>
    </div>
</div>

